# Backend
backend/.env
backend/node_modules/

# Mobile
mobile/node_modules/

# Frontend (später)
frontend/node_modules/
frontend/.next/

# Firmware
firmware/*.elf
firmware/*.bin
.env.local

# General
.env